@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-jost: "Jost", sans-serif;
  --color-primary: #171717;
  --color-secondary: #f6e6cf;
}


