@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme {
  --font-rubik: "Rubik", sans-serif;
  --color-primary: #171717;
  --color-secondary: #ffb366;
}


